.roles-container {
  border: 1cap;
  border-style: solid;
  border-color: lightgreen;
  max-width: 100rem;
  max-height: 60rem;
  margin: 2rem;
  background-color: #27272b;
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  & form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.roles-title {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  color: lightgreen;
  text-transform: uppercase;
}

.roles-listParent {
  font-size: 3rem;
  font-weight: 300;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.roles-listItem {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.roles-content {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
}

.roles-inputBox {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  background-color: white;
  color: black;
  &::placeholder {
    color: black;
    opacity: 0.5;
  }
  &:focus + .underline {
    width: 4ch;
  }
}
